.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  font-size: large;
}
@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .confirmedcases {
    margin-bottom: 30px;
  }
  .recoverededcases {
    margin-bottom: 30px;
  }
  .deaths {
    margin-bottom: 30px;
  }
}
.confirmedcases {
  border: 2px solid black;
  border-radius: 40px;
  width: 300px;
  transition: 1s;
}
.confirmedcases:hover {
  transform: scale(1.03);
}

.recoverededcases {
  border: 2px solid black;
  width: 300px;
  border-radius: 40px;
  transition: 1s;
}
.recoverededcases:hover {
  transform: scale(1.03);
}
.deaths {
  border: 2px solid black;
  border-radius: 40px;
  width: 300px;
  transition: 1s;
}
.deaths:hover {
  transform: scale(1.03);
}
